* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* Counter Section */

.counter {
    text-align: center;
}

.counter p {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.counter button {
    width: 50px;
    height: 40px;
    cursor: pointer;
}

/* Form */

form input,
form button {
    height: 40px;
}

form input {
    padding: 8px;
}

form p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
}

.error {
    color: red;
}